<h1>All Ammo</h1>


<h3><% @ammunitions.each do |ammo| %></h3>
    <% if ammo.owner_id == current_user.id %>
        <li><%= link_to "#{ammo.caliber}", show_ammo_path(id: @owner.owners_id, ammunition_id: ammo.id) %><br> Amount of Ammo in this Caliber: <%= ammo.quantity %></li>
    <% end %>
<% end %>

<% if current_user.id == @owner.id %>
    <%= link_to "My Vault", owner_path(@owner) %>
    <%= link_to "Log Out", logout_path %>
<% end %>
