<h3>Edit Owner</h3>
<% if current_user == @owner %>
    <%= render "form" %>
    <br>

    <%= link_to "Home", owners_path %>
    <%= link_to "Delete Owner", @owner, method: :delete, data: { confirm: 'Are You Sure?' } %>
<% else %>
    <h3>You are not this owner you can't be here</h3>
    <%= link_to "Sign Up or Log In", root_path %>
<% end %>